body {
    background-image: url("images/bg-pattern.jpg");
}

.content {
    max-width: 866px;
    /* border: 1px solid; */
    margin-left:auto;
    margin-right:auto;
}

#beach {
    display: block;
    margin:0;
    width:100%;
}

.bottom-menu {
    margin:0;
    padding:0;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    list-style: none;
    width:100%;
    background-color: #777;
}

.bottom-menu a {
    display: block;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #777;
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    text-align: center;
    min-width: 70px;
}

.bottom-menu a:hover {
    background-color: #555;
}

.top-menu {
    margin:0;
    padding:0;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
}

.top-menu li {
    list-style: none;
    flex: 1;
}

.top-menu a {
    display: inline-block;
    padding-top:10px;
    padding-bottom:10px;
    background-image: url("images/bg-navigation.png");
    text-decoration: auto;
    color: white;
    font-variant: small-caps;
    text-align: center;
    width:100%;
}

.top-menu a:hover {
    color: bisque;
    background: #555;
}
h1{
    text-align: left;
    font-variant: small-caps;
    color: blue;
}

p {
    white-space: preline;
    text-align: left;
    line-height: 1.5em;
    
}
#copyright {
    text-align: center;
    color: #777;
    font-size: .8em;
}
/* li {
    float: left;
    list-style: none;
} */


/* p {
    white-space: preline;
    text-align: center;
    color:rgb(88, 86, 86) */